<div class="d-flex flex-start align-items-center mb-2">  
  <%= link_to user_path(user), class: "me-3" do %>
<<<<<<< HEAD
    <%= image_tag user_avatar(user), width: "65", height: "65", class: "rounded-circle" %>
=======
    <%= image_tag user_avatar_thumb(user), width: "60", height: "60", class: "rounded-circle" %>
>>>>>>> temp-branch
  <% end %>

  <div class="text-center">
    <%= link_to user.name, user_path(user) %>
  </div>
</div>
