a {
  text-decoration: none !important;
}

.w-fc {
  width: fit-content !important;
}

.h-fc {
  height: fit-content;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}